<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.crm.mapper.accident.AccidentOrderRecordMapper">

    <!-- 查询所有用户ID -->
    <select id="selectAllUserIds" resultType="java.lang.Long">
        SELECT DISTINCT user_id
        FROM accident_purchase_records;
    </select>

    <!-- 根据用户ID查询所有保险产品ID -->
    <select id="selectProductIdByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT product_id
        FROM accident_purchase_records
        WHERE user_id = #{userId};
    </select>

</mapper>
