<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.crm.mapper.accident.AccidentInsuranceMapper">

    <!-- 查询所有意外保险 -->
    <select id="findAll" resultType="org.example.crm.entity.accident.AccidentInsurance">
        SELECT
            id,
            name,
            price,
            effect_period AS effectPeriod,
            accident_coverage AS accidentCoverage,
            disability_coverage AS disabilityCoverage,
            hospital_coverage AS hospitalCoverage,
            outpatient_coverage AS outpatientCoverage,
            emergency_assistance AS emergencyAssistance,
            personal_liability AS personalLiability
        FROM accident_insurance;
    </select>

    <!-- 根据ID查询意外保险 -->
    <select id="findById" resultType="org.example.crm.entity.accident.AccidentInsurance">
        SELECT
            id,
            name,
            price,
            effect_period AS effectPeriod,
            accident_coverage AS accidentCoverage,
            disability_coverage AS disabilityCoverage,
            hospital_coverage AS hospitalCoverage,
            outpatient_coverage AS outpatientCoverage,
            emergency_assistance AS emergencyAssistance,
            personal_liability AS personalLiability
        FROM accident_insurance
        WHERE id = #{id};
    </select>

</mapper>
